// TODO: Need to remove the light and dark blocks as we introduced new theme structure,
// also need to change in whole scss files where we have used the color
$light: (
  win-primary: #0072cf,
  win-primary-dark: darken(#0072cf, 10%),
  win-font-primary: #575659,
  win-warning: #e28f3e,
  win-tertiary: #739849,
  win-background: #f5f5f5,
  win-border: #cccccc,
  win-medium: #999999,
  win-sidenav-light: lighten(#575659, 5%),
  white: #ffffff,
  black: #000000,

  // Cognitive Colors
  win-success: #668741,
  win-alert: #d8c726,
  win-error: #cc0000,

  // Icon Palette
  win-success-secondary: #009933,

  // Typography
  base-font-size: 13px,
  base-font-color: #575659,
  fontawesome: "FontAwesome",

  // Borders
  base-border: 1px solid #cccccc,
  base-border-radius: 4px,
  base-dotted-border: 1px dotted #cccccc
);

$dark: (
  win-primary: #31acff,
  win-primary-dark: darken(#31acff, 10%),
  win-font-primary: #A8A9A6,
  win-sidenav-light: darken(#A8A9A6, 5%),
  win-warning: #e28f3e,
  win-tertiary: #739849,
  win-background: #181818,
  win-border: #333333,
  win-medium: #666666,
  white: #ffffff,
  black: #000000,

  // Cognitive Colors
  win-success: #668741,
  win-alert: #d8c726,
  win-error: #F44336,

  // Icon Palette
  win-success-secondary: #009933,

  // Typography
  base-font-size: 13px,
  base-font-color: #A8A9A6,
  fontawesome: "FontAwesome",

  // Borders
  base-border: 1px solid #333333,
  base-border-radius: 4px,
  base-dotted-border: 1px dotted #333333
);

$white: #FFFFFF;
//$white: var(--white);
$win-chroma-1: var(--win-chroma-1);
$win-chroma-2: var(--win-chroma-2);
$win-chroma-3: var(--win-chroma-3);
$win-chroma-4: var(--win-chroma-4);
$win-chroma-5: var(--win-chroma-5);
$win-chroma-6: var(--win-chroma-6);
$win-chroma-7: var(--win-chroma-7);
$black: var(--black);
$win-hover: var(--win-hover);
$win-select: var(--win-select);
$win-primary: var(--win-primary);
$win-primary-dark: var(--win-primary-dark);
$win-primary-darker: var(--win-primary-darker);
$win-tertiary: var(--win-tertiary);
$win-success: var(--win-success);
$win-success-secondary: var(--win-success-secondary);
$win-success-secondary-dark: var(--win-success-secondary-dark);
$win-alert: var(--win-alert);
$win-alert-dark: var(--win-alert-dark);
$win-warning: var(--win-warning);
$win-error: var(--win-error);
$win-error-dark: var(--win-error-dark);
$win-error-darker: var(--win-error-darker);
$win-shadow: var(--win-shadow);
$base-border: var(--base-border);
$base-dotted-border: var(--base-dotted-border);
$base-font: var(--base-font);
$base-font-size: var(--base-font-size);
$win-icons: var(--win-icons);
