<div [@visibilityChanged]="visibility" class="win-inline-alert" [ngStyle]="{'width' : alertWidth}">
    <div class="toastDiv" [ngClass]="{'toastDiv-success': type === 'success',
                     'toastDiv-error': type === 'error',
                     'toastDiv-warning': type === 'warning',
                     'toast-bottom-border-radius': !isActionAlert}">
        <i class="fa alert-icon" [ngClass]="{'fa-check fa-2x': type === 'success', 'fa-warning': type === 'error' || type === 'warning' }"></i>
        <div class="col-12" style="display:inline-flex;">
            <div class="col-11">{{message}}</div>
            <div class="col-1"><i class="fa fa-times text-right"></i></div>
        </div>

    </div>

    <!--Footer-->
    <div class="alert-footer" *ngIf="primaryButtonText && isActionAlert">

        <!--Single Button-->
        <div *ngIf="primaryButtonText && !secondaryButtonText" class="center">
            <button ion-button class="primary-button full-width" (click)="onPrimaryClick()">
          {{primaryButtonText}}
        </button>
        </div>

        <!--Both Buttons-->
        <div *ngIf="primaryButtonText && secondaryButtonText && !thirdButtonText">

            <div *ngIf="isCentered">
                <div class="center">
                    <button ion-button class="primary-button full-width" (click)="onPrimaryClick()">
              {{primaryButtonText}}
            </button>
                </div>
                <div class="center">
                    <button ion-button class="secondary-button full-width" (click)="onSecondaryClick()">
              {{secondaryButtonText}}
            </button>
                </div>
            </div>

            <div *ngIf="!isCentered">
                <button ion-button class="primary-button-standard" (click)="onPrimaryClick()">
            {{primaryButtonText}}
          </button>
                <button ion-button class="secondary-button-standard" (click)="onSecondaryClick()">
            {{secondaryButtonText}}
          </button>
                <div style="clear: both"></div>
            </div>

        </div>

        <div *ngIf="thirdButtonText">
            <div>
                <div class="center">
                    <button ion-button class="primary-button full-width" (click)="onPrimaryClick()">
              {{primaryButtonText}}
            </button>
                </div>
                <div class="center">
                    <button ion-button class="secondary-button half-width" (click)="onSecondaryClick()">
              {{secondaryButtonText}}
            </button>
                    <button ion-button class="third-button half-width" (click)="onThirdClick()">
              {{thirdButtonText}}
            </button>
                </div>
            </div>
        </div>

    </div>

</div>