@import '../../assets/scss/_variables.scss';
.win-inline-alert {
    border-radius: 5px;
    background-color: #668741;
}

.toastDiv {
    color: #fff;
    padding: 10px 10px 10px 37px;
    position: relative;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    .toastDiv-success {
        background-color: #668741;
    }
}

.toast-bottom-border-radius {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.alert-icon {
    position: absolute;
    left: 8px;
    top: 5px;
}

.alert-footer {
    padding: 10px 20px 10px 20px;
}

.button {
    border-radius: 5px;
}

.primary-button {
    @extend .button;
    background-color: #668741;
    color: $secondary-color;
}

.primary-button-standard {
    @extend .primary-button;
    float: right;
}

.secondary-button {
    @extend .button;
    background-color: #ffffff;
    color: #373737;
    border: 1px solid #373737;
}


.third-button {
    @extend .secondary-button;
}

.secondary-button-standard {
    @extend .secondary-button;
    float: left;
}

.center {
    padding: 0 0 0 0;
    text-align: center;
}

@media screen and (max-width: 800px) and (min-width: 480px) {
    .fa-check {
        display: block;
        position: absolute;
        margin-top: 34px;
        margin-left: -405px;
    }
    .fa-check:before {
        content: "\f00c";
        position: relative;
        top: -39px;
        left: 400px;
        color: white;
        font-size: 18px;
        visibility: inherit;
    }
}

.full-width {
    width: 100%;
}

.half-width {
    width: 46%;
}
