<div>
    <div class="panel-body">
        <p class="sub-heading">
            Orders shipping through the selected date will be added to the pick queue for the selected date range
        </p>
        <div class="row">
            <div class="container-fluid">
                <div class="holiday-years">
                    <div class="active">2018</div> |
                    <div>2019</div>
                </div>

                <div class="container-fluid container-view">
                    <div class="full-view">
                        <div class="row form-group"></div>
                        <div class="row form-group">
                            <div class="col-md-3 form-group"><b>Events</b></div>
                            <div class="col-md-2 form-group"></div>
                            <div class="col-md-3 form-group"><b>Orders Shipping Through</b></div>
                            <div class="col-md-3 form-group"><b>Add to Queue</b></div>
                            <div class="col-md-1 form-group"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 form-group">New Year's Day</div>
                            <div class="col-md-2 form-group">01/01/18</div>
                            <div class="col-md-3 form-group">
                                <ngbd-datepicker-popup></ngbd-datepicker-popup>
                            </div>
                            <div class="col-md-3 form-group">
                                <ngbd-datepicker-multiple></ngbd-datepicker-multiple>
                            </div>
                            <div class="col-md-1 form-group"></div>
                        </div>
                        <hr>
                        <div class="">
                            <div class="row" *ngFor="let evt of events">
                                <div class="col-md-3 form-group"><input class="form-group form-control" type="text" placeholder="Construction Start" /></div>
                                <div class="col-md-2 form-group">
                                    <ngbd-datepicker-popup></ngbd-datepicker-popup>
                                </div>
                                <div class="col-md-3 form-group">
                                    <ngbd-datepicker-popup></ngbd-datepicker-popup>
                                </div>
                                <div class="col-md-3 form-group">
                                    <ngbd-datepicker-multiple></ngbd-datepicker-multiple>
                                </div>
                                <div class="col-md-1 icon pt-1 form-group">
                                    <a (click)="removeEvent(evt)"><i class="fa fa-trash"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-view">
                        <div class="row form-group"></div>
                        <div>
                            <div class="col-12 mobile-data-view">
                                <div class="col-7 col-view">
                                    <div class="holiday-title">NEW YEAR'S DAY</div>
                                </div>
                                <div class="col-5 text-right"><b class="badge badge-secondary"><p class="badge-mobile-data">01/01/18</p></b></div>
                            </div>
                            <hr class="space">
                            <div>
                                <div>
                                    <div><label><b>Orders Shipping</b></label></div>
                                    <div><input class="form-group form-control" type="text" placeholder="01/01/18" /></div>
                                </div>
                                <div>
                                    <div><label><b>Add to Queue</b></label></div>
                                    <div><input class="form-group form-control" type="text" placeholder="12/28/17 - 01/01/18" /></div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="container">
                            <div class="row div-row">
                                <div class="col-6 col-view"><input class="form-group form-control" type="text" placeholder="Eric's Desk" /></div>
                                <div class="col-5"><input class="form-group form-control" type="text" placeholder="06/14/18" /></div>
                                <div class="col-1 icon col-view"><i class="fa fa-trash"></i></div>
                            </div>
                            <div class="row"><input class="form-group form-control" type="text" placeholder="06/14/18" /></div>
                            <div class="row"><input class="form-group form-control" type="text " placeholder="06/13/18 - 06/13/18 " /></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="holiday-years">
                    <div class="add-event-button"><a (click)="addNewEvent()"><i class="fa fa-plus"></i> Add New Event</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
