@import '../../../assets/scss/_variables.scss';

@mixin theme($theme, $color) {
    .space {
        border-style: dotted!important;
    }

    hr {
        border-top: 1px solid #ccc;
    }

    .fa-trash {
        color: #cc0000;
        font-size: 20px;
    }

    .holiday-years {
        display: inline-flex;
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        background-color: #fff;
    }

    .container-view {
        height: 100%;
        border: 1px solid #ccc;
        border-top: 0px;
    }

    .holiday-years div.active {
        color: rgb(0, 114, 207);
        font-weight: 700;
    }

    .add-event-button {
        width: 100%;
        text-align: center;
        color: #0072CF;
    }

@media (max-device-width: 768px) and (orientation: portrait) {
    b {
        font-weight: 300;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .full-view {
        display: none;
    }
    .mobile-view {
        display: block;
    }
    .holiday-title {
        padding-top: 6px;
    }
    .holiday-years {
        background-color: #fff;
    }
    .icon {
        top: 5px;
        font-size: 18px;
    }
    .div-row {
        display: inline-flex;
    }
    .col-view {
        padding: 0px;
    }
    .mobile-data-view {
        display: inline-flex;
        padding: 0px;
    }
    .badge-secondary {
        color: #fff;
        background-color: #999999;
    }
    .badge-mobile-data {
        padding: 6px 18px;
        margin: 0px;
        color: #fff;
    }
}

@media screen and (max-width: 1400px) and (min-width: 768px) {
    .full-view {
        display: block;
    }
    .mobile-view {
        display: none;
    }
    .icon {
        top: 5px;
        font-size: 18px;
    }
}

@media screen and (min-width:1400px) {
    .mobile-view {
        display: none;
    }
}
}

@include theme(light, $light);
@include theme(dark, $dark);
