@import '../../../assets/scss/_variables.scss';

@mixin theme($theme, $color) {
    .container-fluid {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .save-ship-details {
        padding-top: 10px;
        margin-top: 10px;
    }

    p.sub-heading {
        padding: 0px;
        color: #999999;
    }
}

@include theme(light, $light);
@include theme(dark, $dark);
