<div>
    <div class="panel-body">
        <p class="sub-heading">
            For each day of the week, select what orders you would like to pick based on their shipping day. (i.e. On Monday, I want to pick orders set to ship Monday and Tuesday.)
        </p>
        <div class="row">
            <div class="container-fluid">
                <app-day *ngFor="let day of days" [day]="day"></app-day>
            </div>
        </div>
        <div class="col-12 text-right save-ship-details"><button type="button" class="btn btn-primary">Save Changes</button></div>
    </div>
</div>
