@import '../../../assets/scss/_variables.scss';

@mixin theme($theme, $color) {
    .fa-arrows {
        font-style: normal;
        font-size: 28px;
        color: #999999;
    }

    .fa {
        font-size: 26px;
    }

    .border-right {
        border-right: 1px solid #ced4da !important;
    }

    .border-left {
        border-left: 1px solid #ced4da !important;
    }
}

@include theme(light, $light);
@include theme(dark, $dark);
