<div class="panel-body">
    <div class="row">
        <div class="col-12">
            <p class="sub-heading">These are the containers you use to package items. Arrange at least one, and up to six units in the order you would like them visible on the scan gun.</p>
        </div>
    </div>
    <div class="row">

        <div class="col-md-4 col-sm-6 col-12 mb-3">
            <div class="card card-default rounded">
                <div class="col-12 m-0 p-0 d-flex">
                    <div class="col-2 text-center pt-4 border-right">
                        <i class="fa fa-arrows" aria-hidden="true"></i>
                    </div>
                    <div class="col-8 pb-4 pt-4">
                        <input type="text" class="form-control col-md-12" placeholder="Enter">
                    </div>
                    <div class="col-2 text-center pt-4 border-left">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-12 mb-3">
            <div class="card card-default rounded">
                <div class="col-12 m-0 p-0 d-flex">
                    <div class="col-2 text-center pt-4 border-right">
                        <i class="fa fa-arrows" aria-hidden="true"></i>
                    </div>
                    <div class="col-8 pb-4 pt-4">
                        <input type="text" class="form-control col-md-12" placeholder="Enter">
                    </div>
                    <div class="col-2 text-center pt-4 border-left">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-12 mb-3">
            <div class="card card-default rounded">
                <div class="col-12 m-0 p-0 d-flex">
                    <div class="col-2 text-center pt-4 border-right">
                        <i class="fa fa-arrows" aria-hidden="true"></i>
                    </div>
                    <div class="col-8 pb-4 pt-4">
                        <input type="text" class="form-control col-md-12" placeholder="Enter">
                    </div>
                    <div class="col-2 text-center pt-4 border-left">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-12 mb-3">
            <div class="card card-default rounded">
                <div class="col-12 m-0 p-0 d-flex">
                    <div class="col-2 text-center pt-4 border-right">
                        <i class="fa fa-arrows" aria-hidden="true"></i>
                    </div>
                    <div class="col-8 pb-4 pt-4">
                        <input type="text" class="form-control col-md-12" placeholder="Enter">
                    </div>
                    <div class="col-2 text-center pt-4 border-left">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-12 mb-3">
            <div class="card card-default rounded">
                <div class="col-12 m-0 p-0 d-flex">
                    <div class="col-2 text-center pt-4 border-right">
                        <i class="fa fa-arrows" aria-hidden="true"></i>
                    </div>
                    <div class="col-8 pb-4 pt-4">
                        <input type="text" class="form-control col-md-12" placeholder="Enter">
                    </div>
                    <div class="col-2 text-center pt-4 border-left">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-12 mb-3">
            <div class="card card-default rounded">
                <div class="col-12 m-0 p-0 d-flex">
                    <div class="col-2 text-center pt-4 border-right">
                        <i class="fa fa-arrows" aria-hidden="true"></i>
                    </div>
                    <div class="col-8 pb-4 pt-4">
                        <input type="text" class="form-control col-md-12" placeholder="Enter">
                    </div>
                    <div class="col-2 text-center pt-4 border-left">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
