@import '../../../assets/scss/_variables.scss';

@mixin theme($theme, $colors) {
    .week-head {
        font-weight: 700;
        font-style: normal;
        color: #999999;
        text-align: left;
        font-size: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .week {
        color: #999999;
    }

    .reset {
        font-size: 13px;
    }

    .day-add {
        border: 1px solid #ddd;
    }

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .week-head {
        font-weight: 700;
        font-style: normal;
        color: #999999;
        text-align: left;
        font-size: 14px;
        border: 1px solid #ddd;
        background-color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .week-head {
        font-weight: 700;
        font-style: normal;
        color: #999999;
        text-align: left;
        font-size: 14px;
        border: 1px solid #ddd;
        background-color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .week-head {
        font-weight: 700;
        font-style: normal;
        color: #999999;
        text-align: left;
        font-size: 14px;
        border: 1px solid #ddd;
        background-color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    .week-head {
        font-weight: 700;
        font-style: normal;
        color: #999999;
        text-align: left;
        font-size: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .col-lg-1 {
        flex: 0 0 14.166666%;
        width: 100%;
        max-width: 14.166666%;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .week-head {
        font-weight: 700;
        font-style: normal;
        color: #999999;
        text-align: center;
        font-size: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .col-xl-1 {
        flex: 0 0 14.166666%;
        width: 100%;
        max-width: 14.166666%;
    }
}

@media (min-width: 576px) {
    .col-sm-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .week-head {
        font-weight: 700;
        font-style: normal;
        color: #999999;
        text-align: left;
        font-size: 12px;
        border: 1px solid #ddd;
        background-color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
    .col-md-4 {
        -ms-flex: 0 0 24.999999%;
        flex: 0 0 24.999999%;
        width: 100%;
        max-width: 24.999999%;
    }
}
}

@include theme(light, $light);
@include theme(dark, $dark);

