<div class="col-6 col-sm-6 col-md-4 col-lg-1 col-xl-1 pick-col-week m-0 p-3 float-left">
    <div class=" container-fluid p-0 mt-2">
        <div class="col-12 week-head ml-1">
            <strong class="col-11 m-0 p-0 week">{{day.day}}</strong>
        </div>
    </div>
    <div class="container-fluid p-0 m-0">
        <div *ngFor="let day of days">
            <app-shipping-day #shippingDayComponents [shippingDays]="day" (notifySelectedShippingDate)="getSelectedShippingDate($event) "></app-shipping-day>
        </div>
    </div>
</div>
