<div [@.disabled]="isDisabled">
    <div class="panel-body">
        <div class="row mobile-filter-panel">
            <div class="col-12">
                <p class="sub-heading">Sort these by the priority you would like their orders to have for picking.</p>
            </div>
            <div class="clear"></div>
            <div class="col-12 col-space">
                <div class="panel panel-default">
                    <app-picking-form [pickingForm]="pickingForm" (copyPickingFormEmitter)="copyPickingFormReceiver($event)" (deletePickingFormEmitter)="deletePickingFormReceiver($event)" *ngFor="let pickingForm of pickingForms">
                    </app-picking-form>
                </div>
            </div>
            <div class="col-12 text-right"><a (click)="addNewShippingMethod()" class=""><span class="glyphicon glyphicon-plus"></span> Add New Shipping Method</a></div>
        </div>
    </div>
</div>

<bs4-win-confirmation [id]="DELETE_BIN_ID" #deleteBinConfirmation (confirmed)="registerBackButtonCallback(); deleteBinLocation($event);" (unconfirmed)="registerBackButtonCallback()" (backButton)="registerBackButtonCallback()"></bs4-win-confirmation>
