@import '../../../assets/scss/_variables.scss';
  
@mixin theme($theme, $color) {
    .win-collapse-panel .panel-default>.panel-heading h3 {
        margin-top: 30px;
        display: flex;
    }

    .save-ship-details {
        padding-top: 10px;
        margin-top: 10px;
    }

    .modal {
        background: rgba(0, 0, 0, 0.4);
    }

    .fa-question-circle {
        color: #575659;
    }

    .alert-message {
        padding: 20px;
    }

    .shipping-dropdown {
        height: 34px !important;
    }

    .col-space {
        margin-top: 16px;
    }

    .clone-head {
        border-left: 1px solid #ddd;
    }

    .panel-del-layout {
        border-left: 1px solid #ddd;
        padding-top: 10px;
    }

    .shipping-dropdown {
        background-color: rgba(245, 245, 245, 1);
    }

    .head-panel-arrow {
        padding-top: 10px;
    }

    .head-panel-sub2 {
        padding-top: 15px;
    }

    .head-panel-arrow-sub {
        text-align: center;
    }

    .win-collapse-panel .panel-body {
        padding: 0px !important;
    }

    .form-control {
        border-radius: 0px !important;
        height: 34px;
    }

    .fa-trash {
        color: #CC0000;
    }

    .fa-plus-square-o {
        color: #0072CF;
    }

    .prior-head {
        margin-bottom: 5px;
    }

    p.sub-heading {
        padding: 0px;
        color: #999999;
    }

    input[type="radio"],
    input[type="checkbox"] {
        margin-right: 5px;
    }

    strong {
        color: #575659;
    }

    .wise-panel-heading {
        border: 1px solid #cccccc;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .form-panel-body {
        background: white;
    }

    .panel-heading-three {
        font-weight: 400;
        text-transform: uppercase;
        font-size: 16px;
        padding: 0 0 7px 0;
        color: #575659;
    }

    .standard-span {
        font-size: 16px;
        color: #999999;
        text-align: right !important;
    }

    .wise-panel-body {
        border: 1px solid #cccccc;
        border-top: none;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .panel-body-delete {
        text-align: center;
        position: relative;
        top: 35%;
    }

    .text-box-priority {
        width: 67px;
        height: 34px;
        text-align: right;
        border-radius: 0px;
    }

    .sub-heading {
        color: #999999;
    }

    .horizontal-border {
        border-top: 1px solid #ddd;
        margin: 20px 0
    }

    .panel-form-content {
        width: 95%;
        margin: auto;
    }

    .div-vertical-space {
        min-height: 5px;
    }

    .col-view {
        padding: 20px;
    }

    .icon-mob {
        display: none;
    }

@media screen and (max-width: 600px) and (min-width: 320px) {
    .show-details-view {
        margin: 0 auto;
        text-align: center;
        position: relative;
        margin: 0 auto;
        display: block;
        width: 100%;
        padding-top: 20px;
        border-bottom: 1px solid #ddd;
    }
    .mob-view-note-show {
        display: none;
    }
    .shipping-details-mobview {
        display: none;
    }
    .desk-view-icon {
        display: none;
    }
    .icon-layout {
        font-size: 22px;
        padding: 8px 0px;
        text-align: center;
    }
    .mob-icon {
        width: 50%;
    }
    .icon-border {
        border-right: 1px solid #ddd;
    }
    .icon-position {
        display: flex;
    }
    .text-box-priority {
        width: 100%;
    }
    .col-icon {
        width: 50%;
        float: left;
    }
    .prior-panelsub-1 {
        width: 70%;
        float: left;
    }
    .mob-view-note {
        display: block;
        float: left;
        padding-left: 15px;
        padding-top: 5px;
    }
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 368px) {
    .shipping-details-mobview {
        display: none;
    }
    .panel-body-action {
        text-align: center;
        margin: 0 auto;
        width: 293px;
    }
    .text-box-priority {
        width: 49px;
        height: 34px;
    }
    .icon-mob {
        display: none;
    }
    .standard-span {
        text-align: left;
    }
    .align-self-center {
        margin-left: 7px;
        padding-top: 10px;
    }
    .fa {
        font-size: 26px;
    }
    .show-details-view {
        margin: 0 auto;
        text-align: center;
        position: relative;
        margin: 0 auto;
        display: block;
        width: 100%;
        padding: 20px;
        border-bottom: 1px solid #ddd;
    }
    .head-panel {
        display: block;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 576px) {
    .fa {
        font-size: 26px;
    }
    .icon-border {
        display: none;
    }
    .panel-body-action {
        text-align: center;
        top: 50%;
        position: relative;
    }
    .text-box-priority {
        width: 67px;
        height: 34px;
    }
    .standard-span {
        text-align: right;
    }
    .icon-mob {
        display: block;
    }
    .show-details-view {
        display: none;
    }
    .head-panel {
        display: flex;
    }
    .mob-view-note {
        display: none;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .fa-plus-square-o {
        font-weight: 400;
        font-style: normal;
        font-size: 29px;
        color: #0072CF;
    }
    .icon-border {
        display: none;
    }
    .align-self-center {
        margin-top: -15px;
        align-self: center !important;
    }
    .fa-arrows {
        font-style: normal;
        font-size: 29px;
        color: #999999;
    }
    .horizontal-border {
        margin: 15px 20px 20px;
        border-top: 1px solid #ddd;
    }
    .icon-mob {
        display: block;
        position: relative;
        top: 13px;
    }
    .standard-span {
        text-align: right;
    }
    .text-box-priority {
        width: 100%;
        height: 34px;
    }
    .show-details-view {
        display: none;
    }
    .head-panel {
        display: flex;
    }
    .mob-view-note {
        display: none;
    }
}


/*Ipad Pro*/

@media only screen and (min-width: 1023px) {
    .col-icon,
    .prior-panel-1 {
        padding: 0px;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .fa-plus-square-o {
        font-weight: 400;
        font-style: normal;
        font-size: 24px;
        color: #0072CF;
    }
    .icon-border {
        display: none;
    }
    .fa-arrows {
        font-style: normal;
        font-size: 28px;
        color: #999999;
    }
    .panel-body-action {
        text-align: center;
        top: 50%;
        position: relative;
    }
    .standard-span {
        text-align: right;
    }
    .text-box-priority {
        width: 67px;
        height: 34px;
    }
    .icon-mob {
        display: block;
        position: relative;
        top: 13px;
    }
    .show-details-view {
        display: none;
    }
    .head-panel {
        display: flex;
    }
    .mob-view-note {
        display: none;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .fa-plus-square-o {
        font-weight: 400;
        font-style: normal;
        font-size: 24px;
        color: #0072CF;
    }
    .icon-border {
        display: none;
    }
    .fa-arrows {
        font-style: normal;
        font-size: 28px;
        color: #999999;
    }
    .panel-body-action {
        text-align: center;
        top: 50%;
        position: relative;
    }
    .text-box-priority {
        width: 67px;
        height: 34px;
    }
    .standard-span {
        text-align: right;
    }
    .icon-mob {
        display: block;
        position: relative;
        top: 13px;
    }
    .win-collapse-panel .panel-body {
        padding: 0px !important;
    }
    .horizontal-border {
        margin: 20px 28px !important;
        border-top: 1px solid #ddd;
    }
    .prior-head {
        margin-bottom: 5px;
    }
    .show-details-view {
        display: none;
    }
    .align-self-center {
        margin-top: -8px;
    }
    .head-panel {
        display: flex;
    }
    .mob-view-note {
        display: none;
    }
}
}

@include theme(light, $light);
@include theme(dark, $dark);
