<win-nav (sideNavToggled)="sideNavToggled($event)" [environment]="environment"></win-nav>
<div id="win-main-container">
    <p-blockUI [blocked]="isBlocked">
        <div class="app-blocker"></div>
    </p-blockUI>
    <p-growl class="win-growl" [(value)]="growlSuccessMessages" [life]="5000" [hidden]="!growlSuccessMessageShow"></p-growl>


    <p-growl class="win-growl" [(value)]="growlErrorMessages" [sticky]="true" *ngIf="growlErrorMessageShow"></p-growl>

    <p-blockUI [blocked]="isBlockedUI">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw win-spinner"></i>
    </p-blockUI>
    <div class="container-fluid success-container">
        <win-inline-alert #successAlert [alertWidth]="alertWidth" class="alert-message" [fadeoutTime]="5000"></win-inline-alert>
    </div>
    <div class="container-fluid" id="containerFluid" [ngClass]="{'container-push': expandNav}">

        <router-outlet></router-outlet>
    </div>
</div>
