.modal {
    background: rgba(0, 0, 0, 0.4);
}


/* Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575.98px) {
    .success-container {
        margin-top: 0px;
        z-index: 1000;
        position: relative;
    }
}


/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) and (max-width: 767.98px) {
    .success-container {
        margin-top: 0px;
        z-index: 1000;
        position: absolute;
    }
}


/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 991.98px) {
    .success-container {
        margin-top: 0px;
        z-index: 1000;
        position: absolute;
    }
}


/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) and (max-width: 1199.98px) {
    .success-container {
        margin-top: 0px;
        z-index: 1000;
        position: absolute;
    }
}


/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
    .success-container {
        margin-top: 0px;
        z-index: 1000;
        position: absolute;
    }
}