@import '../../../assets/scss/_variables.scss';
 
@mixin theme($theme, $color) {
    .pick-ship-week-selection {
        width: 100%;
    }

    input {
        min-width: 135px;
    }

    input[type="text"]::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-weight: 400;
        font-style: normal;
        opacity: 1;
        /* Firefox */
        color: #E4E4E4;
        font-size: 14px;
        text-align: left;
        transform-origin: 26.5px 9px 0px;
    }

    .form-group .form-control.with-icon {
        padding-right: 4.25rem;
    }

    .day-add {
        border: 1px solid #ddd;
    }

    // .form-group
    .form-icon {
        position: absolute;
        right: 0px;
        top: 0px;
        cursor: pointer;
        z-index: 2;
        width: 3.4rem;
        height: 3.4rem;
        line-height: 3.4rem;
        background-color: #fff;
        pointer-events: visible !important;
        text-decoration: none;
    }

    .border-input {
        border: 1px solid #ced4da !important;
        border-bottom-color: #fff !important;
    }

    .addday:not(:valid)~.form-icon {
        display: none;
    }
}


@include theme(light, $light);
@include theme(dark, $dark);
