<div>
    <div *ngFor="let addedDay of disabledDays; let i = index" class="form-group mb-0 ml-1 border-input">
        <input type="text" placeholder="{{addedDay}}" [(ngModel)]="addedDays[i]" class="form-control addday with-icon border-0" />
        <a *ngIf="i == addedDays.length-1" class="form-icon text-center pt-2" (click)="removeAddedDays()"><span  class="d-block error-icon pt-1 fa fa-trash"></span></a>
    </div>
</div>
<div class="text-center day-add p-2 ml-1">
    <a class="reset" (click)="addDays()">Add Day</a>
</div>