@import '../../assets/scss/_variables.scss';
@mixin theme($theme, $colors) {
    .win-collapse-panel .panel-default>.panel-heading h3 {
        margin-top: 30px;
        display: flex;
    }
    .search-filter-header {
        text-decoration: none;
    }
    .shipping-dropdown {
        background-color: rgba(245, 245, 245, 1);
    }
    .win-collapse-panel .panel-body {
        padding: 0px !important;
    }
    .form-control {
        border-radius: 0px !important;
        height: 34px;
    }
    .fa-trash {
        color: map-get($colors, win-error);
    }
    .fa-plus-square-o {
        color: map-get($colors, win-primary);
    }
    .prior-head {
        margin-bottom: 5px;
    }
    p.sub-heading {
        padding: 0px;
    }
    input[type="radio"],
    input[type="checkbox"] {
        margin-right: 5px;
    }
    strong {
        color: map-get($colors, win-font-primary);
    }
    .wise-panel-heading {
        border: map-get($colors, win-border);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    .form-panel-body {
        background: white;
    }
    .panel-heading-three {
        font-weight: 400;
        text-transform: uppercase;
        font-size: 16px;
        padding: 0 0 7px 0;
        color: map-get($colors, win-font-primary);
    }
    .standard-span {
        font-size: 16px;
        color: map-get($colors, win-medium);
        text-align: right !important;
    }
    .wise-panel-body {
        border: map-get($colors, win-border);
        border-top: none;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .panel-body-delete {
        text-align: center;
        position: relative;
        top: 35%;
    }
    .text-box-priority {
        width: 67px;
        height: 34px;
        text-align: right;
        border-radius: 0px;
    }
    .sub-heading {
        color: map-get($colors, win-medium);
    }
    .horizontal-border {
        border-top: 1px solid #ddd;
        margin: 20px 0
    }
    .panel-form-content {
        width: 95%;
        margin: auto;
    }
    .div-vertical-space {
        min-height: 5px;
    }
    .col-view {
        padding: 20px;
    }
    .icon-mob {
        display: none;
    }
    @media screen and (max-width: 600px) and (min-width: 320px) {
        .show-details-view {
            margin: 0 auto;
            text-align: center;
            position: relative;
            margin: 0 auto;
            display: block;
            width: 100%;
            padding-top: 20px;
            border-bottom: 1px solid #ddd;
        }
        .mob-view-note-show {
            display: none;
        }
        .shipping-details-mobview {
            display: none;
        }
        .desk-view-icon {
            display: none;
        }
        .icon-layout {
            font-size: 22px;
            padding: 8px 0px;
            text-align: center;
        }
        .mob-icon {
            width: 50%;
        }
        .icon-border {
            border-right: 1px solid #ddd;
        }
        .icon-position {
            display: flex;
        }
        .text-box-priority {
            width: 100%;
        }
        .col-icon {
            width: 50%;
            float: left;
        }
        .prior-panel-1 {
            width: 26%;
            float: left;
        }
        .prior-panelsub-1 {
            width: 73%;
            float: left;
        }
        .mob-view-note {
            display: block;
            float: left;
            padding-left: 15px;
            padding-top: 5px;
        }
    }
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 368px) {
        .shipping-details-mobview {
            display: none;
        }
        .panel-body-action {
            text-align: center;
            margin: 0 auto;
            width: 293px;
        }
        .col-view-copyicon {
            padding: 0px;
            margin: 0px;
        }
        .col-view-shipping {
            display: none;
        }
        .text-box-priority {
            width: 49px;
            height: 34px;
        }
        .icon-mob {
            display: none;
        }
        .standard-span {
            text-align: left;
        }
        .div-prior {
            width: 30%;
            left: 21px;
            position: relative;
        }
        .align-self-center {
            margin-left: 7px;
            padding-top: 10px;
        }
        .div-head {
            width: 70%;
        }
        .fa {
            font-size: 26px;
        }
        .show-details-view {
            margin: 0 auto;
            text-align: center;
            position: relative;
            margin: 0 auto;
            display: block;
            width: 100%;
            padding: 20px;
            border-bottom: 1px solid #ddd;
        }
        .head-panel {
            display: block;
        }
    }
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 576px) {
        .fa {
            font-size: 26px;
        }
        .icon-border {
            display: none;
        }
        .panel-body-action {
            text-align: center;
            top: 50%;
            position: relative;
        }
        .text-box-priority {
            width: 67px;
            height: 34px;
        }
        .standard-span {
            text-align: right;
        }
        .div-prior {
            flex: 0 0 13%;
            max-width: 13%;
        }
        .icon-mob {
            display: block;
        }
        .div-head {
            padding-right: 0px;
            flex: 0 0 74%;
            max-width: 74%;
        }
        .show-details-view {
            display: none;
        }
        .head-panel {
            display: flex;
        }
        .mob-view-note {
            display: none;
        }
    }
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        .fa-plus-square-o {
            font-weight: 400;
            font-style: normal;
            font-size: 29px;
            color: map-get($colors, win-primary);
        }
        .icon-border {
            display: none;
        }
        .align-self-center {
            margin-top: -15px;
            align-self: center !important;
        }
        .fa-arrows {
            font-style: normal;
            font-size: 29px;
            color: map-get($colors, win-medium);
        }
        .horizontal-border {
            margin: 0px 20px 20px;
        }
        .div-prior {
            flex: 0 0 17%;
            max-width: 17%;
        }
        .icon-mob {
            display: block;
            position: relative;
            top: 13px;
        }
        .div-head {
            padding-right: 0px;
            flex: 0 0 71%;
            max-width: 71%;
        }
        .standard-span {
            text-align: right;
        }
        .text-box-priority {
            width: 100%;
            height: 34px;
        }
        .col-view-shipping {
            flex: 0 0 95.333333%;
            max-width: 95.333333%;
        }
        .col-view-copyicon {
            flex: 0 0 4.666667%;
            max-width: 4.666667%;
        }
        .show-details-view {
            display: none;
        }
        .head-panel {
            display: flex;
        }
        .mob-view-note {
            display: none;
        }
    }
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        .fa-plus-square-o {
            font-weight: 400;
            font-style: normal;
            font-size: 24px;
            color: map-get($colors, win-primary);
        }
        .icon-border {
            display: none;
        }
        .fa-arrows {
            font-style: normal;
            font-size: 28px;
            color: #999999;
        }
        .panel-body-action {
            text-align: center;
            top: 50%;
            position: relative;
        }
        .standard-span {
            text-align: right;
        }
        .text-box-priority {
            width: 67px;
            height: 34px;
        }
        .div-prior {
            flex: 0 0 7%;
            max-width: 7%;
        }
        .icon-mob {
            display: block;
            position: relative;
            top: 13px;
        }
        .div-head {
            padding-right: 0px;
            flex: 0 0 87%;
            max-width: 87%;
        }
        .show-details-view {
            display: none;
        }
        .head-panel {
            display: flex;
        }
        .mob-view-note {
            display: none;
        }
    }
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        .fa-plus-square-o {
            font-weight: 400;
            font-style: normal;
            font-size: 24px;
            color: map-get($colors, win-primary);
        }
        .icon-border {
            display: none;
        }
        .fa-arrows {
            font-style: normal;
            font-size: 28px;
            color: map-get($colors, win-medium);
        }
        .col-view-shipping {
            max-width: 97% !important;
            flex: 97%;
        }
        .col-view-copyicon {
            max-width: 3% !important;
            -ms-flex: 3%;
            flex: 3%;
        }
        .panel-body-action {
            text-align: center;
            top: 50%;
            position: relative;
        }
        .text-box-priority {
            width: 67px;
            height: 34px;
        }
        .standard-span {
            text-align: right;
        }
        .div-prior {
            flex: 0 0 7%;
            max-width: 7%;
        }
        .icon-mob {
            display: block;
            position: relative;
            top: 13px;
        }
        .div-head {
            padding-right: 0px;
            flex: 0 0 87%;
            max-width: 87%;
        }
        .win-collapse-panel .panel-body {
            padding: 0px !important;
        }
        .horizontal-border {
            margin: 20px 28px !important;
        }
        .prior-head {
            margin-bottom: 5px;
        }
        .show-details-view {
            display: none;
        }
        .align-self-center {
            margin-top: -8px;
        }
        .head-panel {
            display: flex;
        }
        .mob-view-note {
            display: none;
        }
    }
}

@include theme(light, $light);
@include theme(dark, $dark);
