<div class="row mb-4 d-none d-md-block d-lg-block d-xl-block">
    <div class="col-12 col-md-6 col-xl-6">
        <h2 class="mt-0 page-title">{{title}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="win-collapse-panel">
            <div class="card panel panel-default mb-2">

                <!--SHIPPING METHODS(SHIP VIA)-->
                <div class="panel-heading mobile-filter-panel-heading" id="headingOne">
                    <h3 class="panel-title">
                        <a (click)="setShippingMethodToggle()" [ngClass]="{'collapsed':!toggleShippingMethods}" class="search-filter-header collapsed" data-toggle="collapse" aria-expanded="ToggleShippingMethods">SHIPPING METHODS (SHIP VIA)</a>
                    </h3>
                </div>
                <app-shipping-methods *ngIf="toggleShippingMethods" (showSuccessMessageEmitter)="showSuccessMessageReceiver($event)"></app-shipping-methods>


                <!--PACKAGING UNITS-->
                <div class="card-header panel-heading mobile-filter-panel-heading" role="tab">
                    <h3 class="panel-title">
                        <a (click)="setPackagingUnitsToggle()" [ngClass]="{'collapsed':!togglePackagingUnits}" class="search-filter-header collapsed" data-toggle="collapse" aria-expanded="TogglePackagingUnits">PACKAGING UNITS</a>
                    </h3>
                </div>
                <app-packaging-unit *ngIf="togglePackagingUnits"></app-packaging-unit>

                <!--FLAG REASONS-->
                <div class="card-header panel-heading mobile-filter-panel-heading" role="tab">
                    <h3 class="card-title panel-title">
                        <a class="search-filter-header collapsed" data-toggle="collapse" data-parent="#searchFilters" href="">FLAG REASONS</a>
                    </h3>
                </div>

                <!--PRINTING-->
                <div class="card-header panel-heading mobile-filter-panel-heading" role="tab">
                    <h3 class="card-title panel-title">
                        <a class="search-filter-header collapsed" data-toggle="collapse" data-parent="#searchFilters" href="">PRINTING</a>
                    </h3>
                </div>

                <!--PICK QUEUE SCHEDULE-->
                <div class="card-header panel-heading mobile-filter-panel-heading" role="tab">
                    <h3 class="card-title panel-title">
                        <a (click)="setPickQueueScheduleToggle()" [ngClass]="{'collapsed': !togglePickQueueSchedule}" class="search-filter-header" data-toggle="collapse">PICK QUEUE SCHEDULE</a>
                    </h3>
                </div>
                <app-pick-queue-schedule *ngIf="togglePickQueueSchedule"></app-pick-queue-schedule>

                <!--HOLIDAY AND EVENT CALENDAR-->
                <div class="card-header panel-heading mobile-filter-panel-heading" role="tab">
                    <h3 class="card-title panel-title">
                        <a class="search-filter-header" (click)="setHolidayEventCalanderToggle()" [ngClass]="{'collapsed':!toggleHolidayEventCalendar}" data-toggle="collapse">HOLIDAY & EVENT CALENDAR</a>
                    </h3>
                </div>
                <app-holiday-event-calander *ngIf="toggleHolidayEventCalendar"></app-holiday-event-calander>

            </div>
        </div>
    </div>
</div>
