@import '../../../assets/scss/_variables.scss';

@mixin theme($theme, $color) {
    
.clone-head {
    border-left: 1px solid #ddd;
}

.card-del-layout {
    border-left: 1px solid #ddd;
    padding-top: 10px;
}

.shipping-dropdown {
    background-color: rgba(245, 245, 245, 1);
    height: 34px !important;
}

.win-collapse-card .card-body {
    padding: 0px !important;
}

.standard-span {
    font-size: 16px;
    color: map-get($color, win-medium);
    text-align: right !important;
}

.form-control {
    border-radius: 0px !important;
    height: 34px;
}

.fa-trash {
    color: #CC0000;
}

.fa-plus-square-o {
    color: #0072CF;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

strong {
    color: #575659;
}

.form-card-body {
    background: white;
}

.wise-card-body {
    border-top: none;
}

.card-body-delete {
    text-align: center;
    position: relative;
    top: 35%;
}

.text-box-priority {
    width: 67px;
    height: 34px;
    text-align: right;
    border-radius: 0px;
}

.horizontal-border {
    border-top: 1px solid #ddd;
    margin: 20px 0
}

.card-form-content {
    width: 95%;
    margin: auto;
}

.div-vertical-space {
    min-height: 5px;
}

@media screen and (max-width: 600px) and (min-width: 320px) {
.show-details-view {
    margin: 0 auto;
    text-align: center;
    position: relative;
    margin: 0 auto;
    width: 100%;
    padding-top: 20px;
    border-bottom: 1px solid #ddd;
}
.mob-view-note-show {
    display: none;
}
.shipping-details-mobview {
    display: none;
}
.desk-view-icon {
    display: none;
}
.icon-layout {
    font-size: 22px;
    padding: 8px 0px;
    text-align: center;
}
.mob-icon {
    width: 50%;
}
.icon-border {
    border-right: 1px solid #ddd;
}
.icon-position {
    display: flex;
}
.text-box-priority {
    width: 100%;
}
.col-icon {
    width: 50%;
    float: left;
}
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 368px) {
.shipping-details-mobview {
    display: none;
}
.card-body-action {
    text-align: center;
    margin: 0 auto;
    width: 293px;
}
.text-box-priority {
    width: 49px;
    height: 34px;
}
.fa {
    font-size: 26px;
}
.show-details-view {
    margin: 0 auto;
    text-align: center;
    position: relative;
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 576px) {
.fa {
    font-size: 26px;
}
.light .container-fluid {
    padding-left: 0px !important;
}
.icon-border {
    display: none;
}
.card-body-action {
    text-align: center;
    top: 50%;
    position: relative;
}
.text-box-priority {
    width: 67px;
    height: 34px;
}
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
.icon-border {
    display: none;
}
.fa-arrows {
    font-style: normal;
    font-size: 29px;
    color: #999999;
}
.horizontal-border {
    margin: 15px 20px 20px;
    border-top: 1px solid #ddd;
}
.text-box-priority {
    width: 100%;
    height: 34px;
}
}

@media only screen and (min-width: 1023px) {
.col-icon,
.prior-card-1 {
    padding: 0px;
}
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
.icon-border {
    display: none;
}
.fa-arrows {
    font-style: normal;
    font-size: 28px;
    color: #999999;
}
.card-body-action {
    text-align: center;
    top: 50%;
    position: relative;
}
.text-box-priority {
    width: 67px;
    height: 34px;
}
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
.icon-border {
    display: none;
}
.fa-arrows {
    font-style: normal;
    font-size: 28px;
    color: #999999;
}
.card-body-action {
    text-align: center;
    top: 50%;
    position: relative;
}
.text-box-priority {
    width: 67px;
    height: 34px;
}
.win-collapse-card .card-body {
    padding: 0px !important;
}
.horizontal-border {
    padding-top: 1px;
    margin: 20px 28px !important;
    border-top: 1px solid #ddd;
}
.card {
    margin-bottom: 0px !important;
}
.shipping-dropdown {
    height: 34px !important;
}

}
}

@include theme(light, $light);
@include theme(dark, $dark);
