<div [@slideInOut]>
    <div class="card card-default mb-0 rounded">
        <div *ngIf="!pickingForm.isFedexGround">
            <div class="container-fluid p-0 m-0 d-flex">
                <div class="col-12 col-sm-11 col-md-11 col-lg-11 col-xl-11 pt-4 pr-0">
                    <div class="float-left d-none d-md-block d-lg-block d-xl-block col-sm-1 col-md-1 col-lg-1 col-xl-1 text-center mt-4">
                        <i class="fa fa-arrows" aria-hidden="true"></i>
                    </div>
                    <div class="col-4 col-sm-2 col-md-2 col-lg-1 col-xl-1 float-left">
                        <div class="mb-2"><b>Priority</b></div>
                        <div><input [(ngModel)]="pickingForm.priority" class="form-group form-control text-box-priority" type="text" /></div>
                    </div>
                    <div class="col-8 col-sm-3 col-md-3 col-lg-3 col-xl-3 float-left">
                        <div class="mb-2"><b>Name</b></div>
                        <div><input [(ngModel)]="pickingForm.name" class="form-group form-control text-box-name" type="text" /></div>
                    </div>
                    <div class="d-inline-block col-12 col-sm-6 col-md-6 col-lg-7 col-xl-7">
                        <div class="mb-2"><b>Description</b></div>
                        <div><input [(ngModel)]="pickingForm.description" class="form-group form-control text-box-name" type="text" /></div>
                    </div>
                </div>
                <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1 icon-layout desk-view-icon clone-head pt-5">
                    <div class="text-center">
                        <a (click)="deletePickingForm()"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

        </div>
        <div *ngIf="pickingForm.isFedexGround" class="rounded">
            <div class="container-fluid m-0 pl-3 p-0">
                <div class="row form-group pt-4 pb-4 pr-0 m-0 d-flex">

                    <div class="d-none d-sm-none d-md-block d-lg-block d-xl-block col-md-1 col-lg-1 col-xl-1 text-center mt-4">
                        <i class="fa fa-arrows" aria-hidden="true"></i>
                    </div>
                    <div class="col-4 col-sm-2 col-md-2 col-lg-1 col-xl-1">
                        <div class="mb-2"><b>Priority</b></div>
                        <div><input [(ngModel)]="pickingForm.priority" class="form-control text-box-priority" type="text" /></div>
                    </div>
                    <div class="col-8 col-sm-10 col-md-9 col-lg-10 col-xl-10">
                        <span class="col-12 col-sm-12 col-lg-12 card-heading-three">FEDEX GROUND</span>
                        <div class="standard-span">Standard</div>
                        <div class="align-self-center mob-view-note-hide">
                            <div>This is some description I guess you could say.</div>
                        </div>
                    </div>

                    <!-- <div class="col-12 mob-view-note">
                        <div>This is some description I guess you could say.</div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="card form-card-body wise-card-body rounded">
        <div class="row show-details-view d-block d-sm-none d-md-none d-lg-none d-xl-none">
            <p><a (click)="showHideToggle()">{{showDetailLabel}}</a></p>
        </div>
        <div class="container-fluid p-0 r-0 d-flex">
            <div class="shipping-details-mobview col-12 col-sm-11 col-md-11 col-lg-11 col-xl-11">
                <div class="card-form-content">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mt-4">
                            <div class="form-group">
                                <label for="sel1"><strong>Customer Packing list Printer</strong></label>
                                <select [(ngModel)]="pickingForm.selectedCustomerPackingPrinter" class="form-control shipping-dropdown">
                                    <option *ngFor="let packingPrinters of pickingForm.customerPackingListPrinters"
                                        [ngValue]="packingPrinters">{{packingPrinters}}</option>
                                </select>
                            </div>
                            <input type="checkbox" [checked]="pickingForm.printWhenStaged" (change)="pickingForm.printWhenStaged = !pickingForm.printWhenStaged"><strong>Print when Staged</strong>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mt-4">
                            <div class="form-group">
                                <label for="sel1"><strong>Pick List Printer</strong></label>
                                <select [(ngModel)]="pickingForm.selectedPickListPrinters" class="form-control shipping-dropdown">
                                    <option *ngFor="let pickPrinters of pickingForm.pickListPrinters" [ngValue]="pickPrinters">{{pickPrinters}}</option>
                                </select>
                            </div>
                            <input type="checkbox" [checked]="pickingForm.printWhenQueued" (change)="pickingForm.printWhenQueued = !pickingForm.printWhenQueued">
                            <strong>Print when Queued</strong>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mt-4">
                            <div class="form-group">
                                <label for="sel1"><strong>Suggested Staging Area (Optional)</strong> </label>
                                <input type="text" class="form-control">
                            </div>
                            <input type="checkbox" [checked]="pickingForm.requireStagingLabel" (change)="pickingForm.requireStagingLabel = !pickingForm.requireStagingLabel"><strong>Require Staging Label</strong>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="horizontal-border">
                </div>

                <div class="panel-form-content">
                    <div class="row form-group">
                        <div class="col-12 col-sm-6 col-lg-3">
                            <input type="checkbox" [checked]="pickingForm.requireShippingTime" (change)="pickingForm.requireShippingTime = !pickingForm.requireShippingTime"><strong>Require Shipping Time</strong>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4">
                            <input type="checkbox" [checked]="pickingForm.alertRFGuns" (change)="pickingForm.AlertRFGuns = !pickingForm.alertRFGuns"><strong>Alert RF Guns to Pick Urgently</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div (window:resize)="onResize($event)" *ngIf="isShowDetails" class="col-12 col-sm-11 col-md-11 col-lg-11 col-xl-11">
                <div class="panel-form-content">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-lg-4 col-view">
                            <div class="form-group">
                                <label for="sel1"><strong>Customer Packing list Printer</strong></label>
                                <select [(ngModel)]="pickingForm.selectedCustomerPackingPrinter" class="form-control shipping-dropdown">
                                    <option *ngFor="let packingPrinters of pickingForm.customerPackingListPrinters"
                                        [ngValue]="packingPrinters">{{packingPrinters}}</option>
                                </select>
                            </div>
                            <input type="checkbox" [checked]="pickingForm.printWhenStaged" (change)="pickingForm.printWhenStaged = !pickingForm.printWhenStaged"><strong>Print when Staged</strong>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 col-view">
                            <div class="form-group">
                                <label for="sel1"><strong>Pick List Printer</strong></label>
                                <select [(ngModel)]="pickingForm.selectedPickListPrinters" class="form-control shipping-dropdown" id="sel1">
                                    <option *ngFor="let pickPrinters of pickingForm.pickListPrinters" [ngValue]="pickPrinters">{{pickPrinters}}</option>
                                </select>
                            </div>
                            <input type="checkbox" [checked]="pickingForm.printWhenQueued" (change)="pickingForm.printWhenQueued = !pickingForm.printWhenQueued">
                            <strong>Print when Queued</strong>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 col-view">
                            <div class="form-group">
                                <label for="sel1"><strong>Suggested Staging Area (Optional)</strong> </label>
                                <input type="text" class="form-control">
                            </div>
                            <input type="checkbox" [checked]="pickingForm.requireStagingLabel" (change)="pickingForm.requireStagingLabel = !pickingForm.requireStagingLabel"><strong>Require Staging Label</strong>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="horizontal-border">
                </div>
                <div class="card-form-content">
                    <div class="row form-group">
                        <div class="col-12 col-sm-6 col-md-6 col-xl-3">
                            <input type="checkbox" [checked]="pickingForm.requireShippingTime" (change)="pickingForm.requireShippingTime = !pickingForm.requireShippingTime"><strong>Require Shipping Time</strong>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-xl-4">
                            <input type="checkbox" [checked]="pickingForm.alertRFGuns" (change)="pickingForm.alertRFGuns = !pickingForm.alertRFGuns"><strong>Alert RF Guns to Pick Urgently</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="pickingForm.isFedexGround" class="col-12 col-sm-1 col-md-1 col-lg-1 col-xl-1 icon-layout clone-head p-0 m-0">
                <div class="card-body-action icon-position">
                    <div class="col-12 icon-layout mob-icon"><a (click)="copyPickingForm()"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a></div>
                </div>
            </div>
            <div *ngIf="!pickingForm.isFedexGround" class="d-block d-lg-none d-md-none d-sm-none d-xl-none col-12 col-sm-1 col-md-1 col-lg-1 col-xl-1 icon-layout clone-head p-0 m-0">
                <div class="card-body-action icon-position">
                    <div class="col-6 icon-layout mob-icon icon-border"><a (click)="deletePickingForm()"><i class="fa fa-trash" aria-hidden="true"></i></a></div>
                    <div class="col-6 icon-layout mob-icon"><a (click)="copyPickingForm()"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a></div>
                </div>
            </div>
            <div *ngIf="!pickingForm.isFedexGround" class="d-none d-lg-block d-md-block d-sm-block d-xl-block col-12 col-sm-1 col-md-1 col-lg-1 col-xl-1 icon-layout clone-head p-0 m-0">
                <div class="card-body-action icon-position">
                    <div class="col-12 icon-layout mob-icon"><a (click)="copyPickingForm()"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="div-vertical-space"></div>
</div>
