@import 'assets/scss/_variables.scss';
@import url('https://cdn.winwholesale.com/css/winsupply-icon-library.css');
@import url("https://cdn.winwholesale.com/pattern-library-bootstrap4/styles.css");

@media (max-width: 767px) {
  #win-main-container {
    margin-top: 110px;
  }
}
